* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../fitzy_frontend/Assets/backround_image.webp"); /* path to your image */
  background-size: cover; /* fills the screen */
  z-index: -1;
}
.home {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: black;
}
span {
  font-size: 25px;
  color: rgb(129, 59, 129);
}
.fitzy {
  margin-top: 150px;
  margin-left: 200px;
  color: black;
  background-color: hsla(210, 20%, 98%, 0.614);
  border: 2px solid black;
  border-radius: 30px;
  width: 400px;
  box-shadow: 10px 10px 5px rgb(20, 24, 25);
}
.fitzy:hover {
  transform: scale(1.08);
}
a {
  text-decoration: none;
}

.fitzy h1 {
  padding-left: 20px;
  font-size: 70px;
}
.fitzy h2 {
  padding-left: 20px;
  font-size: 40px;
}
.fitzy p {
  padding-left: 20px;
  margin-top: 30px;
  font-size: 30px;
}
button {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 12px 35px;
  border-radius: 20px;
}

footer {
  background-color: white;
  border: 1px solid black;
  color: black;
  margin-top: 228px;
  font-size: 20px;
  padding: 8px;
}
footer p {
  display: flex;
  justify-content: center;
}
