*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
background: linear-gradient(to top, #fad0c43d 0%, #ffd1ff 100%);
}
.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: black;
}
span{
  font-size: 25px;
  color: rgb(129, 59, 129);
}   
.home p{
    font-size:25px;
}
.nav{
    border-radius: 10px;
    padding-top: 55px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100px;
    padding-bottom: 30px;
}
.move{
    margin-left: 15px;
}
.four_weeks_plan{
    display: flex;
    margin-left:px;
}
.plans{
    margin-top: 40px;
    margin-left: 200px;
    display: inline;
    width: 500px;
    height: 100px;
}
.Weeks{
    margin-top: 80px;
    width: 250px;
    border-radius: 20px;
    margin-right: 20px;    
}
.foundation_week{
    margin-left: 30px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.727);

}
.status{
  border: 1px solid black;
  border-radius: 10px;
  width:170px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  padding: 2px;
}   
.week1{
    border: 2px solid black;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.106);
    color: black;
}
.foundation_week a{
    text-decoration: none;
}
.foundation_week h2{
    margin-top: 20px;
}
.arranging_weeks_flex{
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-left: 100px;   
}
footer{
  background-color:rgba(0, 0, 0, 0.788);
  color: white;
  margin-top: 66px;
  font-size: 20px;
  padding: 8px;
}
footer p{
  display: flex;
  justify-content: center;
}
.Arrranging_weeks_and_plans{
 display: flex;
}
.days_plans{
    margin-top: 20px;
    margin-left: 80px;
    border: 1px solid black;
    height: 650px;  
}
.level1{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    background-color: hsla(210, 20%, 98%, 0.695);
    border-radius: 60px;
  
}
.levels{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 50px;
    margin-left: 60px;
}
.name_of_level{
    font-size: 25px;
    margin-left: 70px;
    margin-top: 15px;
}
.quate{
    margin-top: 20px;
    margin-left: 18px;
    font-size: 18px;
}
.level-btn{
    display: inline;
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: rgba(255, 0, 0, 0.242);
    color: black;
}
.images_button{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.btn{
    margin-top: 65px;
}
.about_level{
    font-size: 30px;
    margin-left: 40px;
}




@media (max-width: 768px) {

.home {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 28px;
}

span {
    font-size: 20px;
    margin-top: 5px;
}

.move{
    width: 25px;
    height: 25px;
}
h1{
    font-size: 25px;
}
.nav {
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

h1{
    font-size: 20px;
}

.four_weeks_plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.plans {
    margin: 0;
    width: 90%;
    height: auto;
    text-align: center;
}

.Weeks {
    width: 200px;
    margin-top: 40px;
}


.foundation_week {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}


.foundation_week h2 {
    text-align: center;
    font-size: 22px;
}

.status {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.week1 {
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

.arranging_weeks_flex {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: center;
}

.Arrranging_weeks_and_plans {
    flex-direction: column;
    align-items: center;
}

  .days_plans {
    width: 95%;
    height: auto;
    border: none;
    margin: 0;
    
}

.levels {
    margin-left: 0;
    gap: 30px;
    align-items: center;
}

.level1 {
    width: 90%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
}

.name_of_level {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.quate {
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.level-btn {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
}

.images_button {
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    margin-top: 20px;
    text-align: center;
}

.about_level {
    font-size: 22px;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 12px;
    font-size: 16px;
    margin-top: 40px;
}

footer p {
    justify-content: center;
}
}