*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
background: linear-gradient(to top, #fad0c43d 0%, #ffd1ff 100%);
}

.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: black;
}

span{
  font-size: 25px;
  color: rgb(129, 59, 129);
}   

.nav{
    border-radius: 10px;
    padding-top: 55px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100px;
    padding-bottom: 30px;
}

.move{
    margin-left: 15px;
}
.arranging_setting{
    display: flex;
}
.set{
    margin-left: 500px;
    margin-bottom: 10px;
}
.set1{
    margin-left: 360px;
}
.setting{
    margin-left: 40px;
}
.box{
    margin-top: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.571);
}
.box:hover{
    transform: scale(1.01);
}
.profile_image{
    margin-top:15px ;
    display: flex;
    text-align: center;
    align-content: center;
}
.logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
      color: #000;
 }
.profile_info{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.profile_info > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seperater{
    margin-bottom: 20px;
}
.box2{
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.571);
}
.box2:hover{
    transform: scale(1.01);
}
.two_types_of_info{
    display: flex;
    gap: 80px;
    margin-top: 30px;
    margin-left: 30px;
}
.choose{
    width: 500px;
    border-radius: 6px;
    padding: 5px;
}
.logo1{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      color: #000;
      margin-bottom: 20px;
}
.log_out{
    margin-top: 10px;
    border: 1px solid black ;
    border-radius: 10px;
    width: 600px;
    padding:5px ;
    background-color: rgba(255, 0, 0, 0.476);
}
.log_out1{
    border: 1px solid black ;
    border-radius: 10px;
    width: 600px;
    padding:5px ;
    background-color:rgba(0, 128, 0, 0.576);
}
.about_fitzy{
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.571);
    margin-bottom: 90px;
}
.language{
    margin-bottom: 30px;
    width: 400px;
    padding: 6px;
    border-radius: 10px;
}
.about_fitzy:hover{
    transform: scale(1.01);
}
.settings {
  margin: 28px;
  font-size: 20px;
}
footer{
  background-color:rgba(0, 0, 0, 0.788);
  color: white;
  font-size: 20px;
  padding: 8px;
}
footer p{
  display: flex;
  justify-content: center;
}


@media (max-width: 480px) {

.home {
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
}

 span {
    font-size: 18px;
}

.nav {
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.move {
    margin-left: 0;
}

.arranging_setting {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
}

.set, .set1, .setting {
    margin-left: 0;
}

.box, .box2, .about_fitzy {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
}

.profile_image {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile_info {
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.two_types_of_info {
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
    margin-top: 15px;
}

.choose, .language {
    width: 90%;
}

.log_out, .log_out1 {
    width: 90%;
    padding: 8px;
    font-size: 16px;
}

.logo, .logo1 {
    font-size: 16px;
    gap: 5px;
    margin-bottom: 10px;
  }

footer {
    font-size: 14px;
    padding: 6px;
}

}




