*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}
.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color:black;
}
span{
  font-size: 25px;
  color:rgb(129, 59, 129) ;
}
body {
 background-image: url('../Assets/backround_image.webp'); 
 background-size: cover; 
 z-index: -1;
}
.bmi_calculation{
    background-color:hsla(210, 20%, 98%, 0.256);;
    margin-top: 200px;
    margin-left: 100px;
    border: 2px solid black ;
    border-radius: 30px;
    width: 45%;   
}

.login{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 100px;
}

.sign_up{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 25px;
  margin: 20px 20px;

}

a{
   text-decoration: none;
   color: black;
}

.sign_in{
background-color:hsla(210, 20%, 98%, 0.622) ;
 border: 1px solid black;
 font-size: 25px;
 padding: 10px 25px;
  border-radius: 5px;
 margin: 20px 20px;
}

.set1{
  margin-top: 35px ;
   margin-left: 100px;
    display: flex;
    gap:60px ;
    font-size: 24px;
}

.enter{
    margin-top: 10px;
    width: 200px;
    height: 35px;
    background-color:rgba(255, 255, 255, 0.593);
    border-radius: 20px;
    color: black;
    font-size: 15px;
    margin-bottom: 20px;
}
.submit{
  margin-left: 20px;
  color: black;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.btn{
  padding: 8px;
  border-radius: 10px;
}
footer{
  background-color: white;
  border: 1px solid black ;
  color: black;
  margin-top: 187px;
  font-size: 20px;
  padding: 8px;
}
footer p{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .logo {
    width: 35px;
    height: 35px;
  }
  label{
    font-size: 17px;
  }
  .home {
    padding: 15px;
    font-size: 28px;
  }
  span {
    font-size: 14px;
  }
  .bmi_calculation {
    width: 85%;
    margin: 20px ;
    padding:  10px 15px;
  }

  .login {
    flex-direction: row;
    width: 90%;
    margin: 15px ;
  }
  .sign_in {
    font-size: 14px;
    padding: 6px 1px;
  }
  .sign_up{
    font-size: 14px;
    padding: 6px 1px;
  }
  .set1 {
    flex-direction: column;
    gap: 10px;
    margin: 10px 20px;
  }
  .btn {
    font-size: 14px;
    padding: 6px 15px;
  }
  footer {
    font-size: 14px;
    margin-top: 20px;
  }
  .password{
    font-size: 22px;
  }
}
  