*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}
.logo{
  width: 50px;
   height: 50px;
}
.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color:black;
}
span{
  font-size: 25px;
  color: rgb(129, 59, 129);
}
body {
 background-image: url('../Assets/backround_image.webp'); 
 background-size: cover; 
 z-index: -1;
}
.bmi_calculation{
  background-color:  hsla(210, 20%, 98%, 0.256); 
    margin-top: 50px;
    margin-left: 100px;
    border: 2px solid black ;
    border-radius: 30px;
    width: 50%;  
}
.bmi_calculation p{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.login{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    width: 550px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.sign_up{
  background-color:hsla(210, 20%, 98%, 0.75) ;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 25px;
  margin: 20px 20px;
}
a{
   text-decoration: none;
   color: black;
}
.sign_in{
 border: 1px solid black;
 font-size: 25px;
 padding: 10px 25px;
  border-radius: 5px;
 margin: 20px 20px;
}
.form h1{
    margin-left: 20px;
   font-size: 20px;
}
.form h2{
    margin-left: 20px;
    font-size: 30px;
}
.set1{
  margin-top: 30px;
  margin-left: 100px;
  display: flex ;
  gap:130px;
  font-size: 24px;
}
.set12{
  margin-top: 30px;
  margin-left: 100px;
  display: flex ;
  gap:10px;
  font-size: 24px;
}
.enter{
    margin-top: 10px;
    width: 200px;
    height: 35px;
    background-color:rgba(255, 255, 255, 0.593) ;
    border-radius: 20px;
    color: black;
    font-size: 15px;
}
.gender{
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.end_form{
  display: flex;
  margin-left: 500px;
  margin-right: 120px;
  margin-bottom: 20px;
}
.end_form button{
  padding: 7px;
  border-radius: 10px;
}
.submit{
  margin-right: 20px;color: black;
}
.btn{
  padding: 50px;
  border-radius: 10px;
}
footer{
  background-color: white;
  border: 1px solid black ;
  color: black;
  margin-top: 39px;
  font-size: 20px;
  padding: 8px;
}
footer p{
  display: flex;
  justify-content: center;
}
.error{
  color: red;
  font-size: 20px;
}



@media (max-width: 768px) {
  .logo {
    width: 35px;
    height: 35px;
  }
  .home {
    padding: 15px;
    font-size: 28px;
  }
  span {
    font-size: 14px;
  }
  .bmi_calculation {
    width: 85%;
    margin: 20px ;
    padding:  10px 15px;
  }
  .bmi_calculation p {
    font-size: 22px;
  }
  .login {
    flex-direction: row;
    width: 90%;
    margin: 15px ;
  }
  .sign_in {
    font-size: 14px;
    padding: 6px 1px;
  }
  .sign_up{
    font-size: 14px;
    padding: 6px 1px;
  }
  .form h2 {
    font-size: 18px;
  }
  .form h1 {
    font-size: 12px;
    margin-left: 10px;
  }
  .set1 {
    flex-direction: column;
    gap: 10px;
    margin: 10px 20px;
  }
  .enter {
    width: 100%;
    height: 30px;
    font-size: 13px;
  }
  .end_form {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .gender {
    font-size: 20px;
    padding-right: 30px;
  }
  .btn {
    font-size: 14px;
    padding: 6px 15px;
  }
  footer {
    font-size: 14px;
    margin-top: 20px;
  }
  .password{
    font-size: 22px;
  }
}



